body{
	background-color: lightgoldenrodyellow;
}
h1{
	font-size: 30px;
	color: #8a2be2;
}
h2{
	color: limegreen;
	font-size: 20px;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}